@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600&display=swap');

:root {
	--main-bg-color: #002299;
	--primary-color: #002266;
	--second-color: #0066dd;
	--third-color: #00eeff;
	--fourth-color: #bb77bb;
	--light-gray: rgb(236, 234, 234);
}

/* https://www.degraeve.com/color-palette/index.php?q=https://miro.medium.com/max/1400/1*aTYOTFS4Vkr-nwHNML3GvQ.jpeg,022A610B2B4C0C5C9A14ACCAAC89AB,002391002A6D0066E100EAFFBE78BB*/




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 0 100%;
}

.container {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 10px;
	overflow: hidden;
}

.title {
	color: var(--main-bg-color);
	font-size: 35px;
}

.text {
	color: var(--light-gray);
	font-size: 20px;
}

.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.btn:active {
	position:relative;
	top:1px;
}

.header {
	background-color: var(--main-bg-color);
}

.header__box {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__search {
	width: 30vw;
	height: 40px;
	background-color: var(--primary-color);
	border-radius: 40px;
	border: 1px solid var(--main-bg-color);
}

.search__bar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search__input {
	background-color: transparent;
	border: none;
	color: #fff;
	outline: none;
	padding: 0 20px;
	border: 0;
}

.search__input::placeholder {
	color: #bbbbaa;
}

.search__button img {
	width: 22px;
	background-color: var(--primary-color);
}

.search__button {
	border: 0;
	width: 40px;
	height: 40px;
	background: transparent;
	cursor: pointer;
}

.header__about {
	height: 100vh;
	background: url("../img/main-background.jpg") center center/cover no-repeat;
}

.header__list {
	display: flex;
}

.header__item {
	margin-right: 20px;
	list-style-type: none;
}

.header__link {
	color: #fff;
	text-decoration: none;
}

.header__logo {
	width: 60px;
}

.header__logo img {
	max-width: 100%;
	border-radius: 10px;
}

.header__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35vw;
}

.content__title {
	margin-top: 20vh;
	text-align: center;
	color: var(--light-gray);
}

.content__text {
	margin-top: 25px;
	line-height: 30px;
}

.header__btn {
	margin-top: 40px;
}