:root {
	--main-bg-color: #002299;
	--primary-color: #002266;
	--second-color: #0066dd;
	--third-color: #00eeff;
	--fourth-color: #bb77bb;
	--light-gray: rgb(236, 234, 234);
	--yellow: rgb(243, 188, 6); 
}

/* https://www.degraeve.com/color-palette/index.php?q=https://miro.medium.com/max/1400/1*aTYOTFS4Vkr-nwHNML3GvQ.jpeg,022A610B2B4C0C5C9A14ACCAAC89AB,002391002A6D0066E100EAFFBE78BB*/